<section class="bg-gray-900 text-white py-16">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-bold text-yellow-500 mb-12">Explore All Movies</h1>
  
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8" >
        <div *ngFor="let movie of movies" class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-2xl transition-shadow duration-300">
          <img  [src]="getBackdropUrl(movie.backdrop_path)" alt="{{ movie.title }}" class="w-full h-72 object-cover">
          <div class="p-4">
            <h3 class="text-xl font-semibold text-yellow-400 mb-2">{{ movie.title }}</h3>
            <p class="text-gray-300 text-sm">Release Date: {{ movie.release_date }}</p>
            <p class="text-gray-400 text-xs mt-2">{{ movie.overview | slice:0:100 }}...</p>
            <!-- <a [routerLink]="['/movie', movie.id]" class="text-yellow-500 hover:text-yellow-400 text-sm mt-4 inline-block">More Details</a> -->
          </div>
        </div>
      </div>
    </div>
      <!-- Pagination (Optional) -->
      <div class="mt-12">
        <ul class="flex justify-center gap-4">
          <li>
            <a href="#" class="text-yellow-500 hover:text-yellow-400">1</a>
          </li>
          <li>
            <a href="#" class="text-yellow-500 hover:text-yellow-400">2</a>
          </li>
          <li>
            <a href="#" class="text-yellow-500 hover:text-yellow-400">3</a>
          </li>
          <li>
            <a href="#" class="text-yellow-500 hover:text-yellow-400">Next →</a>
          </li>
        </ul>
      </div>
  
    
  </section>
  